{% extends "@AcmeBlog/layout.html.twig" %}

{% block content %}

    <h1 class="title">All params</h1>

    <ul id="todo-list">
        {% for param in params %}
            <li>
                {{ param.id }} -
                <a href="{{ path('api_get_param', {'id': param.id}) }}"> {{ param.priority_id }}</a> -
                {{ param.project_id }}
            </li>
        {% else %}
            <li>empty</li>
        {% endfor %}
    </ul>

{% endblock %}
