
<div id="login">
	<h1><img src="images/modis.PNG" alt="Modis" /></h1>
      <h1>
      <div  class="header"><h3>AUTHENTIFICATION</h3></div>
      <div class="toggle"></div>
      <div class="form">
	<form ng-submit="getSalt()" class="form-horizontal">
		<input type="id" name="ad_login" placeholder="production\prenom.nom" ng-model="username" required />
          <input type="password" name="ad_password" ng-model="password" placeholder="Mot de passe" required />
          <!--<p id="remember"><input type="checkbox" name="remember"> Se souvenir de moi</p>-->
          <input type="submit" value="Se connecter" name="go" />
		
	</form>
	
	     </div>
    </div>

