 <md-content layout="column" flex ng-controller="statCtrl" id="stat">

	<md-card>
		<div layout="row" layout-wrap class="checkboxes">
		  <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
		  <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
		  <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
		  <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
		  <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
		  <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
		  <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
		  <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
		</div>
	</md-card>

	<md-card ng-include="'templates/stat_table.html'"></md-card>

</md-content>